src/service/soap/organization.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="Organization"
             targetNamespace="urn:Organization"
             xmlns:tns="urn:Organization"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/">
    <!-- Request - Response -->
    <!-- getAll method -->
    <message name="GetAllRequest">  
    </message>

    <message name="GetAllResponse">
        <part name="result" type="xsd:array"/>
    </message>
    <!-- getStock method -->
    <message name="GetStockRequest">
        <part name="nomArticle" type="xsd:string"/>
    </message>

    <message name="GetStockResponse">
        <part name="result" type="xsd:integer"/>
    </message>
    <!-- Port -->
    <portType name="FilterPort">
        <!-- getAll port -->
       <operation name="getAll">
            <input message="tns:GetAllRequest"/>
            <output message="tns:GetAllResponse"/>
        </operation>
        <!-- getStock port -->
        <operation name="getStock">
            <input message="tns:GetStockRequest"/>
            <output message="tns:GetStockResponse"/>
        </operation>
    </portType>
    <!-- Binding -->
    <binding name="FilterBinding" type="tns:FilterPort">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <!-- getAll Binding -->
        <operation name="getAll">
            <soap:operation soapAction="urn:GetAllAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <!-- getStock Binding -->
        <operation name="getStock">
            <soap:operation soapAction="urn:GetStockAction"/>
            <input>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="urn:Organization" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <!-- export web service -->
    <service name="WSDLService">
        <port name="FilterPort" binding="tns:FilterBinding">
           <soap:address location="http://localhost/mesprojets/ISI/LPGL/SOAP/saopserveur/src/service/ArticleService.class.php"/>
        </port>
    </service>
</definitions>